.counselingForm-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
    overflow-y: auto;
}

.counselingForm-sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #f8f9fa;
    border-right: 1px solid #dee2e6;
    padding: 20px;
}

.counselingForm-content {
    margin-left: 270px;
    padding: 20px;
    width: calc(100% - 270px);
}