.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rbc-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Adjust the sidebar width */
.sidebar-container {
  width: 20%;
  min-width: 200px;
}

/* Make the calendar responsive */
.calendar-container {
  flex: 1;
  padding: 20px;
}

.event-details {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}