.mass-baptism-container {
    display: flex;
    flex-direction: row;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
}

.sidebar-container {
    height: 100%;
    overflow-y: auto; /* Allow scrolling for the sidebar */
    background-color: #f8f9fa; /* Optional: Add a background color */
}

.content-container {
    height: 100%;
    overflow-y: auto; /* Allow scrolling for the form content */
    padding: 20px;
    background-color: #ffffff; /* Optional: Add a background color */
    flex-grow: 1; /* Ensure the content takes the remaining space */
}